# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
*.log

# NuGet
packages/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Banco de dados local
*.db
*.db-shm
*.db-wal

# Configurações locais
appsettings.Development.json